.ms-group-289{
    height: 431.9819641113281px;
    width: 292.0830078125px;
    border-radius: 0px;
    position: absolute;
    left: 56px;
    top: 112px;
}

.ms-group-288{
    height: 280px;
    width: 280.9688720703125px;
    border-radius: 0px;
    position: absolute;   
}

.ms-profile-photo{
    height: 280px;
    width: 280.9688720703125px;
    border-radius: 100%;
    position: absolute;
    background: #C4C4C4;
}

.ms-group-296{
    height: 123.98196411132812px;
    width: 292.0830078125px;
    border-radius: 0px;
    position: absolute;
    width: 292.08px;
    height: 123.98px;
    top: 308px;
}

.ms-group-302{
    height: 24.24322509765625px;
    width: 292.0830078125px;
    top: 100px;
    border-radius: 0px;
    position: absolute;
    width: 292.08px;
    height: 24.24px;
}

.ms-lbl-username{
    height: 34px;
    width: 170px;
    border-radius: nullpx;
    position: absolute;
    height: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
    white-space: nowrap;
}

.ms-lbl-nickname{
    height: 28.738739013671875px;
    width: 80.5251235961914px;
    border-radius: nullpx;
    position: absolute;
    height: 28.74px;
    top: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #0064EB;        
    white-space: nowrap;
}

.ms-group-300{
    height: 24.24322509765625px;
    width: 129.0830078125px;
    left: 163px;
    border-radius: 0px;
    position: absolute;
}

.ms-group-301{
    height: 24.24322509765625px;
    width: 147px;
    border-radius: 0px;
    position: absolute;
    width: 147px;
    height: 24.24px;
}

.ms-lbl-followers{
    height: 24px;
    width: 115px;
    border-radius: nullpx;
    position: absolute;
    left: 22%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.ms-group-293{
    height: 24.24322509765625px;
    width: 129.0830078125px;
    border-radius: 0px;
    position: absolute;
}

.ms-group-292{
    height: 24.24322509765625px;
    width: 129.0830078125px;
    border-radius: 0px;
    position: absolute;
    width: 129.08px;
    height: 24.24px;
}

.ms-lbl-following{
    height: 24px;
    width: 97px;
    border-radius: nullpx;
    position: absolute;
    left: 25%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.ms-lbl-repo-count{
    height: 42px;
    width: 289px;
    left: 435px;
    top: 100px;
    border-radius: nullpx;
    position: absolute;
    height: 42px;
    left: 31.84%;
    right: 47%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
}

.ms-group-294{
    height: 112px;
    width:100% !important;
    border-radius: 6px;
    width: 877px;
    height: 112px;
    background-color:rgb(245, 250, 250);
    margin-left:32%;
    margin-top:20px;
    max-width: 877px !important;
}

.ms-block-294{
    margin-top:170px;
}

.ms-group-294-content{
    height: 112px;
    width: 877px;
    border-radius: 6px;
    padding: 24px, 32px, 24px, 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 32px;
    position: absolute;
    width: 877px;
    height: 112px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 6px;
}

.ms-lbl-repo-name{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    position: static;
    height: 29px;
    left: 3.65%;
    right: 74.57%;
    top: calc(50% - 29px/2 - 17.5px);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064EB;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.ms-lbl-repo-descript{
    height: 19px;
    width: 586px;
    left: 32px;
    top: 69px;
    border-radius: nullpx;
    position: static;
    height: 19px;
    left: 3.65%;
    right: 29.53%;
    top: calc(50% - 19px/2 + 22.5px);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pages{
    width:100%;
}

.ms-lbl-repo-name>a{
    text-decoration:none;
    color:inherit;
}

.ms-lbl-repo-name>a:hover{
    text-decoration:underline;
}

.ms-lbl-nickname>a{
    text-decoration:none;
    color:inherit;
}

.ms-lbl-nickname>a:hover{
    text-decoration:underline;
}

/* Custrom Pagination styles */

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #0064EB ;
    border-color: #0064EB ;
    color: #FFFFFF;
  }
  .pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #0064EB ;
    border-color: #0064EB;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #808080
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }

  .pagBlock{
      margin-top: 170px;
  }

  .postData{
      height:508px;
  }

  .pagDiv{
      float:right;
      margin-right: 50px;
      margin-top:20px;
  }