.ms-group-289{
    height: 431.9819641113281px;
    width: 292.0830078125px;
    border-radius: 0px;
    position: absolute;
    left: 56px;
    top: 112px;
}

.ms-group-288{
    height: 280px;
    width: 280.9688720703125px;
    border-radius: 0px;
    position: absolute;   
}

.ms-profile-photo{
    height: 280px;
    width: 280.9688720703125px;
    border-radius: 100%;
    position: absolute;
    background: #C4C4C4;
}

.ms-group-296{
    height: 123.98196411132812px;
    width: 292.0830078125px;
    border-radius: 0px;
    position: absolute;
    width: 292.08px;
    height: 123.98px;
    top: 308px;
}

.ms-group-302{
    height: 24.24322509765625px;
    width: 292.0830078125px;
    top: 100px;
    border-radius: 0px;
    position: absolute;
    width: 292.08px;
    height: 24.24px;
}

.ms-lbl-username{
    height: 34px;
    width:100%;
    border-radius: nullpx;
    position: absolute;
    height: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
}

.ms-lbl-nickname{
    height: 28.738739013671875px;
    width: 80.5251235961914px;
    border-radius: nullpx;
    position: absolute;
    height: 28.74px;
    top: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #0064EB;        
    white-space: nowrap;
}

.ms-group-300{
    height: 24.24322509765625px;
    width: 129.0830078125px;
    left: 163px;
    border-radius: 0px;
    position: absolute;
}

.ms-group-301{
    height: 24.24322509765625px;
    width: 147px;
    border-radius: 0px;
    position: absolute;
    width: 147px;
    height: 24.24px;
}

.ms-lbl-followers{
    height: 24px;
    width: 115px;
    border-radius: nullpx;
    position: absolute;
    left: 22%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.ms-group-293{
    height: 24.24322509765625px;
    width: 129.0830078125px;
    border-radius: 0px;
    position: absolute;
}

.ms-group-292{
    height: 24.24322509765625px;
    width: 129.0830078125px;
    border-radius: 0px;
    position: absolute;
    width: 129.08px;
    height: 24.24px;
}

.ms-lbl-following{
    height: 24px;
    width: 97px;
    border-radius: nullpx;
    position: absolute;
    left: 25%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.ms-lbl-repo-count{
    height: 42px;
    width: 289px;
    left: 435px;
    top: 100px;
    border-radius: nullpx;
    position: absolute;
    height: 42px;
    left: 31.84%;
    right: 47%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
}

.ms-group-294{
    height: 112px;
    width:100%;
    border-radius: 6px;
    margin-top:20px;
}

.ms-block-294{
    margin-top:170px;
}

.ms-group-294-content{
    height: 112px;
    width: 65%;
    border-radius: 6px;
    padding: 24px, 32px, 24px, 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 32px;
    position: absolute;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 6px;
    margin-left:32%;
}

@media screen and (max-width:1239px){
    .ms-group-294-content{
        margin-left:34%;
        width:63%;
    }
    .ms-lbl-repo-count{
        margin-left:20%;
    }
}

@media screen and (max-width:1150px){
    .ms-group-294-content{
        margin-left:35%;
        width:62%;
    }
    .ms-lbl-repo-count{
        margin-left:22%;
    }
}

@media screen and (max-width:1190px){
    .ms-group-294-content{
        margin-left:36%;
        width:60%;
    }
}

@media screen and (max-width:1105px){
    .ms-group-294-content{
        margin-left:38%;
        width:58%;
    }
}

@media screen and (max-width:1064px){
    .ms-group-294-content{
        margin-left:40%;
        width:57%;
    }
    .ms-lbl-repo-count{
        margin-left:24%;
    }
}

@media screen and (max-width:972px){
    .ms-group-294-content{
        margin-left:42%;
        width:55%;
    }
}

@media screen and (max-width:925px){
    .ms-group-294-content{
        margin-left:45%;
        width:52%;
    }
}

@media screen and (max-width:863px){
    .postData{
        margin-top:62%;
    }
    .ms-lbl-repo-count{
        margin-top:40%;
        margin-left:0px;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        width:87%;
    }
    .ms-group-296{
        margin-left: 340px;
        margin-top:-230px;
    }
    .ms-group-288{
        width:210px;
        height:210px;
        margin-left: 10%;
        margin-top: 5%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:855px){
    .postData{
        margin-top:62%;
    }
    .ms-lbl-repo-count{
        margin-top:40%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        width:87%;
        left:5%;
    }
    .ms-group-288{
        width:210px;
        height:210px;
        margin-top: 5%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:820px){
    .postData{
        margin-top:62%;
    }
    .ms-lbl-repo-count{
        margin-top:40%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        width:87%;
        left:2%;
    }
    .ms-group-288{
        width:210px;
        height:210px;
        margin-top: 5%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:747px){
    .postData{
        margin-top:65%;
    }
    .ms-lbl-repo-count{
        margin-top:43%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        width:87%;
        left:2%;
    }
    .ms-group-296{
        margin-left: 310px;
        margin-top:-245px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 5%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:670px){
    .postData{
        margin-top:600px;
    }
    .ms-lbl-repo-count{
        margin-top:440px;
        left:30%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        width:87%;
        left:3%;
    }
    .ms-group-296{
        margin-left: 175px;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:220px;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:632px){
    .postData{
        margin-top:600px;
    }
    .ms-lbl-repo-count{
        margin-top:440px;
        left:30%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        width:87%;
        left:2%;
    }
    .ms-group-296{
        margin-left: 175px;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:220px;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:605px){
    .postData{
        margin-top:600px;
    }
    .ms-lbl-repo-count{
        margin-top:440px;
        left:30%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        width:87%;
        left:0%;
    }
    .ms-group-296{
        margin-left:34%;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:44%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:580px){
    .postData{
        margin-top:600px;
    }
    .ms-lbl-repo-count{
        margin-top:440px;
        left:26%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        left:-2%;
    }
    .ms-group-296{
        margin-left:32%;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:42%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:540px){
    .postData{
        margin-top:600px;
    }
    .ms-lbl-repo-count{
        margin-top:440px;
        left:20%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        left:0%;
    }
    .ms-group-296{
        margin-left:25%;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:35%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:455px){
    .postData{
        margin-top:600px;
    }
    .ms-lbl-repo-count{
        margin-top:440px;
        left:18%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        left:0%;
    }
    .ms-group-296{
        margin-left:22%;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:32%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:400px){
    .postData{
        margin-top:600px;
    }
    .ms-lbl-repo-count{
        margin-top:440px;
        left:12%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        left:0%;
    }
    .ms-group-296{
        margin-left:16%;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:26%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:340px){
    .postData{
        margin-top:600px;
    }
    .ms-lbl-repo-count{
        margin-top:440px;
        left:6%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        left:0%;
    }
    .ms-group-296{
        margin-left:10%;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:26%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

@media screen and (max-width:320px){
    .postData{
        margin-top:520px;
    }
    .ms-lbl-repo-count{
        margin-top:480px;
        left:6%;
    }
    .ms-group-294-content{
        margin-left: 5%;
        width:90%;
    }
    .ms-group-289{
        left:0%;
        margin-top:60px;
    }
    .ms-group-296{
        margin-left:10%;
        margin-top:-80px;
    }
    .ms-group-288{
        width:180px;
        height:180px;
        margin-top: 0%;
        margin-left:24%;
    }
    .ms-profile-photo{
        width:100%;
        height:100%;
    }
}

.ms-lbl-repo-name{
    width:100%;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    position: static;
    height: 29px;
    left: 3.65%;
    right: 74.57%;
    top: calc(50% - 29px/2 - 17.5px);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064EB;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ms-lbl-repo-descript{
    height: 19px;
    /* width: 586px; */
    width:100%;
    left: 32px;
    top: 69px;
    border-radius: nullpx;
    position: static;
    height: 19px;
    left: 3.65%;
    right: 29.53%;
    top: calc(50% - 19px/2 + 22.5px);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pages{
    width:100%;
}

.ms-lbl-repo-name>a{
    text-decoration:none;
    color:inherit;
}

.ms-lbl-repo-name>a:hover{
    text-decoration:underline;
}

.ms-lbl-nickname>a{
    text-decoration:none;
    color:inherit;
}

.ms-lbl-nickname>a:hover{
    text-decoration:underline;
}

/* Custrom Pagination styles */

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #0064EB ;
    border-color: #0064EB ;
    color: #FFFFFF;
  }
  .pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #0064EB ;
    border-color: #0064EB;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #808080
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }

  .pagBlock{
      margin-top: 170px;
  }

  .postData{
      height:508px;
  }

  .pagDiv{
      float:right;
      margin-right: 50px;
      margin-top:20px;
  }